body{
    background: #ffbbc1;
}

.jumbotron{
    background:  #ff3334;
}

.navbar{
    background-color: tomato;
}

.modalLink{
    color: #0000AA !important;
    text-decoration-line: underline !important;
}

.btn{
    background-color: #ff3334;
}

.card{
    background-color: #ff3334;
}